[Unit]
Description=Gunicorn ile flask api
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/akyg
ExecStart=/usr/bin/gunicorn --workers 3 --bind unix:/opt/akyg/app.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target